<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->

 <div class="banner banner-profile" style="background-image: url('<%= image_path flat.picture %>');">
 </div>
  <div class="container">
    <div class="wrapper-white">

    </div>
    <div class="wrapper-grey">
    <%= image_tag flat.owner_picture, class: "img-circle avatar-large" %>
    <p><%= flat.owner_name.split.first %></p>
    <h1><%= flat.description %></h1>
    <p><%= flat.city %></p>
    </div>
  </div>

